@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	* {
		font-family: 'Dosis', sans-serif;
		@apply tracking-wider;
	}

	h1, h2, h3, h4, h5, h6{
		@apply tracking-widest;
	}

	::selection {
		@apply bg-primary text-primary-content;
	}

	*{
		scrollbar-width: auto;
		scrollbar-color: hsl(var(--p)) hsla(var(--b1));
	}
	*::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	*::-webkit-scrollbar-track {
		background: hsla(var(--b1));
	}
	*::-webkit-scrollbar-thumb {
		background-color: hsl(var(--p));
		border-radius: 10px;
	}
}

.opacity-enter-active, .opacity-leave-active {
	transition: all .3s;
	transition-timing-function: cubic-bezier(0.0, 0.0, 0.2, 1);
}
.opacity-enter, .opacity-leave-to {
	opacity: 0;
	transition-timing-function: cubic-bezier(0.4, 0.0, 1, 1);
}